{% extends 'base.html.twig' %}

{% block title %}MyCantine - Connexion{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('login') }}

{% endblock %}

{% block body %}

    <div class="container vh-100">

        {% if app.user %}

            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">

                    <h1 class="h3 mb-3 font-weight-normal">Connecté !</h1>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">

                    Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>

                </div>

            </div>

        {% else %}

            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">

                    <h1 class="h3 mb-3 font-weight-normal">Vous êtes de retour ?</h1>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">

                    <h1 class="h3 mb-3 font-weight-normal">Vite, connectez-vous ! 👍</h1>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4 mx-auto">

                    <form method="post">

                        {% if error %}

                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

                        {% endif %}

                        <div class="form-group">

                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

                        </div>

                        <div class="form-group">

                            <label for="inputPassword">Mot de Passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                        </div>

                        <div class="custom-control custom-switch">

                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" checked/>
                            <label class="custom-control-label" for="remember_me">SE SOUVENIR DE MOI</label>

                        </div>

                        <div class="form-group">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        </div>

                        <div class="form-group text-center">

                            <button class="btn btn-lg btn-success" type="submit">Connexion</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">

                    <p>Vous n'avez pas de compte ? <a href="{{ path('signup.index') }}">Inscrivez-vous</a> !</p>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 text-left">

                    <button class="btn btn-lg btn-light" type="submit">Précédent</button>

                </div>

            </div>

        {% endif %}

    </div>

{% endblock %}