{% block body %}
	<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-3" style="background-color: #F2F2F2">
		<a href="{{ path('admin.index') }}">
			<span class="navbar-brand col-sm-3 col-md-2 mr-0 text-center text-dark">Tableau de bord -
				<span class="inner-green">ADMIN</span>
			</span>
		</a>

		<ul class="nav justify-content-end">

			<li class="nav-item text-light">
				<i class="far fa-bell text-dark"></i>
			</li>

			<li class="nav-item dropdown mr-5 ml-5">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDrodownLink">
					<i class="fas fa-user-alt"></i>
				</a>


				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDrodownLink">
					<a class="nav-link text-dark" href="#">

						{{app.user.lastname}}
						{{app.user.firstname}}

						{% for role in app.user.roles %}

							{% if role == "ROLE_ADMIN" %}
								<span class="text-danger">[ADMIN]</span>
							{% endif %}

						{% endfor %}

					</a>
					<a class="nav-link text-dark" href="#">Voir mon profil</a>
					<a class="nav-link text-dark" href="#">Modifier mot de passe</a>
					<a class="nav-link text-dark" href="#">Paramètres</a>
					<div class="dropdown-divider inner-green"></div>
					<a class="nav-link text-dark" href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			</li>

			<div class="dropdown"></ul>

		</nav>

		<div class="container-fluid">

			<div class="row bg-dark" style="height: 1080px; background-color: #F2F2F2">

				<nav class="col-md-2 d-none d-md-block sidebar text-light" style="background-color: #0000">

					<div class="sidebar-sticky">

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-2 text-muted">

							<span>Infos du site</span>

						</h6>

						<ul class="nav flex-column">

							<li class="nav-item">

								<a class="nav-link text-light" href="{{ path('admin.index') }}">

									<i class="far fa-chart-bar"></i>
									Statistiques

								</a>

							</li>

							<li class="nav-item">

								<a class="nav-link text-light" href="#">

									<i class="fas fa-utensils"></i>
									Menus

								</a>

							</li>
							<li class="nav-item">

								<a class="nav-link text-light" href="#">

									<i class="far fa-calendar-check"></i>
									Réservations

								</a>

							</li>


							<li class="nav-item">

								<a class="nav-link text-light" href="#">

									<i class="far fa-money-bill-alt"></i>

									Paiements

								</a>

							</li>


							<li class="nav-item">

								<a class="nav-link text-light" href="#">
									<i class="far fa-heart"></i>
									Plats likés

								</a>

							</li>

							<li class="nav-item">

								<a class="nav-link text-light" href="{{ path('admin.users') }}">

									<i class="fas fa-users"></i>

									Utilisateurs

								</a>

							</li>

						</ul>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-2 text-muted">

							<span>Infos personnelles</span>

						</h6>

						<ul class="nav flex-column mb-2">

							<li class="nav-item">

								<a class="nav-link text-light" href="{{ path('admin.show_profil') }}">

									<i class="far fa-address-card"></i>
									Voir mon profil

								</a>

							</li>

							<li class="nav-item">

								<a class="nav-link text-light" href="#">

									<i class="fas fa-unlock-alt"></i>
									Modifier le mot de passe

								</a>

							</li>

						</ul>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="height: 30px">

							<span>Paramètres</span>

						</h6>

						<ul class="nav flex-column mb-2">

							<li class="nav-item">

								<a class="nav-link text-light" href="#">

									<i class="fas fa-cog"></i>

									Mes Paramètres

								</a>

							</li>

							<div class="border-top my-3"></div>

							<li class="nav-item">

								<a class="nav-link text-danger" href="{{ path('app_logout') }}">
									<i class="fas fa-sign-out-alt"></i>
									Déconnexion

								</a>

							</li>

						</ul>

					</div>

					<div class="border-top my-3 mt-5 text-center">

						<small class="mt-5 text-muted">

							MyCantine V 1.0

						</small>

					</div>

				</nav>

				<!-- Main -->
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light">

					<h1>
						{% block second_title %}{% endblock %}
					</h1>

					{% if centered_content is defined and centered_content == true %}

						<div class="container main-full-height">

							<div>

							{% endif %}

							{% block main_content %}{% endblock %}

							{% if centered_content is defined and centered_content == true %}

							</div>

						</div>

					{% endif %}

				</main>

			</div>

		</div>
	{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
