{% block body %}
    <nav class=" container-fluid navbar transparent navbar-expand-lg navbar-light bg-light mb-5">
        <img class="navbar-brand logo-youngfood mx-auto" src="{{ asset('build/youngfood.svg') }}" alt="LOGO YoungFood">
        <div class="container mt-3 mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" style="margin:0 30px; color: #000" href="#">Les repas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" style="margin:0 30px; color: #000" href="{{ path('home.how') }}">Comment ça marche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold"  style="margin:0 30px; color: #000" href="#">A propos</a>
                    </li>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold"  style="margin:0 30px; color: #000" href="{{ path('admin.index') }}">Tableau de Bord</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold"  style="margin:0 30px; color: #000" href="{{ path('dashboard.index') }}">Tableau de Bord</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="nav-item">
                    {% if app.user %}
                        <a class="btn btn-danger my-2 my-sm-0" href="{{path('app_logout')}}" style="margin:0 30px; font-weight: bold;"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Déconnexion&nbsp;&nbsp;&nbsp;</a>
                    {% else %}
                        <a class="btn btn-success my-2 my-sm-0" href="{{path('signup.index')}}" style="margin:0 30px; font-weight: bold;"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Inscription&nbsp;&nbsp;&nbsp;</a>
                        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{path('app_login')}}" style="font-weight: bold;"><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;Connexion&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <button id="topButton" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    <main role="main" class="container mt-5 mb-5">
        {% block main_content %}
        {% endblock %}
    </main>
{% endblock %}