{% extends 'base.html.twig' %}

{% block title %}YoungFood - Modifier son mot de passe{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% set centered_content = true %}

{% use 'partials/menu.html.twig' %}

{% block second_title %}
    Modifier mon <span class="inner-green">mot de passe</span> :
{% endblock %}

{% block main_content %}
    <div class="col-md-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(updatePasswordForm) }}
            {{ form_row(updatePasswordForm.old_password) }}
            {{ form_row(updatePasswordForm.new_password.first) }}
            {{ form_row(updatePasswordForm.new_password.second) }}
            {{ form_row(updatePasswordForm.submit) }}
        {{ form_end(updatePasswordForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}